<% include ../partials/header %>



<div id="about" class="row">
    <div class="col-md-12 text-center">
        <h1><strong> About </strong></h1>
    </div>
    <div id="aboutP">
        <p>Hello, My name is Ashley</p>
        <p>This is a simple image gallery I created</p>
        <p>All photo credit goes to <a href="https://unsplash.com/">Unsplash</a> and their beautiful free photos</p>
        <p>Thank you for looking at my page!</p>
    </div>
</div>





<% include ../partials/footer %>