<% include ../partials/header %>





<div class="container">
	<div class="jumbotron"> 
		<h1 class="display-4"><i class="fas fa-camera-retro"></i> Tropical Image Gallery </h1>
		<p class="lead">A Bunch Of Cool Tropical Images</p>
	</div>
	<div class="card-columns">
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1500673587002-1d2548cfba1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c1d231a1cfb5fd0d6ea3ae4568ace64&auto=format&fit=crop&w=1950&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1416138645715-930585fe4ce2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d90e6f6cc260c1486e43a729cde0e8c0&auto=format&fit=crop&w=3150&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1428332775090-c351075f5390?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e900629288d3cda7d9d56472daea4ad0&auto=format&fit=crop&w=3294&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1516822266163-4f6dddc274d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8164e1f2a1df7e7bf081fbb41f82883a&auto=format&fit=crop&w=1950&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1520242279429-1f64b18816ef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d63ab010eb3e4b3bb23458e306124c4&auto=format&fit=crop&w=1950&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d64e87dfcf89baf91d26a7257331d25&auto=format&fit=crop&w=1950&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1463608841595-a96243903121?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8ad1dfe95e27bc3091e45f0a0198f9dc&auto=format&fit=crop&w=2700&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1503881612167-a3dc4c1986fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9d2990a59ab0987cbd5ac690bf3a3bff&auto=format&fit=crop&w=2700&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1479912748155-25fa3878a3aa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d6d537cdab524185be95adaf95101b5&auto=format&fit=crop&w=2704&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1468546458273-0e7360b59a37?ixlib=rb-0.3.5&s=15c9f938baf178758b7af650428e4c12&auto=format&fit=crop&w=1655&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1505762929116-cada876eea35?ixlib=rb-0.3.5&s=2c84548384877cccc2d052bf5d731663&auto=format&fit=crop&w=1653&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1500878555357-5c67150cb136?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2822d9f15b730b01d75d571c2d67ab31&auto=format&fit=crop&w=1650&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1507991854441-0529e7aaebb7?ixlib=rb-0.3.5&s=ebb69936f1bf509f193edeed02ab5c11&auto=format&fit=crop&w=1650&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1471357674240-e1a485acb3e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=76d6f5c2afed8da6798b1fc1c70d4575&auto=format&fit=crop&w=1655&q=80" alt="Card image">
			</div>
			<div class="card">
				<img class="card-img img-fluid" src="https://images.unsplash.com/photo-1443176161226-96cde1416c79?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=03d9370b28c4e0c7ec26cf05e1a1247a&auto=format&fit=crop&w=1650&q=80" alt="Card image">
			</div>
	</div>
</div>










<% include ../partials/footer %>